

a{
    text-decoration: none;
}
nav{
    color: white;
}
#botao{
    background-color: purple;
    width: 80px;
}
#botao:hover{

    background-color: purple;
}
.produto{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: auto;
    border: 2px solid rgb(156, 156, 156);
}
#carouselExample{
    margin-top: 155px;
}
#MarketPlace a{
    color: rgb(48, 47, 47);
    background-color: rgb(255, 255, 255);
}
.produto img{
    padding-top: 30px;
    width: 200px;
    height: 330px;
    
}
.produto:hover{
    background-color: rgb(199, 199, 199);
    border: 2px solid purple;

}
header li:hover{
    background-color: purple;
}
.square{
    background-color: purple;
    border: 2px solid black;
}
footer{
    background-color: purple;
    color: white;
}
footer ul{
    color: white;
}
footer li {
    color: white;
  }